.button {
  display: flex;
  font-size: 22px;
  font-weight: 400;
  padding: 16px 70px;
  position: relative;
  color: var(--white);
  border-radius: 10px;
  line-height: 141.5%;
  align-items: center;
  background: var(--red);
  text-transform: uppercase;
  border: solid 2px var(--red);
  font-family: 'Inter', sans-serif;
}



.button.secundary {
  background: transparent;
  border: solid 2px var(--white);
}

.primary {
  width: 100%;
  display: flex;
  align-items: center;
  align-items: center;
}


.primary::after {
  width: 28px;
  height: 28px;
  display: block;
  margin-left: 8px;
  align-self: center; 
  content: url(../../img/icons/play.svg);
}