.header {
  display: flex;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  margin-bottom: 100px;
}

.header img {
  cursor: pointer;
}

.header div {
  display: flex;
  max-width: 100%;
  justify-content: end;
  align-items: center;
  gap: 40px;
}

.header h1 {
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  position: relative;
}

.header h1::before {
  content: "";
  background-color: var(--white);
  height: 28px;
  width: 3px;
  display: block;
  position: absolute;
  left: -20px;
}