
.main ul {
  gap: 40px;
}

.main-genre li {
  font-size: 32px;
  font-weight: 500;
  position: relative;
  padding-bottom: 32px;
  font-family: "Inter", sans-serif;
}

.main-genre li:not(:first-child)::before {
  width: 3px;
  content: "";
  left: -20px;
  height: 32px;
  display: block;
  position: absolute;
  background-color: var(--white);
}

.main h1 {
  font-size: 64px;
  font-weight: 800;
  padding-bottom: 32px;
  font-family: 'Inter', sans-serif;
}

.main-details li {
  font-size: 30px;
  position: relative;
  font-family: 'Inter', sans-serif;
}

.main-details li:not(:first-child)::before {
  width: 3px;
  left: -20px;
  content: "";
  height: 20px;
  bottom: 7.5px;
  display: block;
  position: absolute;
  background-color: var(--white);
}

.main-details li span {
  font-size: 29px;
  font-weight: 400;
  color: var(--gray);
}

.main p {
  font-size: 24px;
  max-width: 860px;
  font-weight: 400;
  text-indent: 12px;
  color: var(--gray);
  line-height: 141.5%;
  font-family: 'Inter', sans-serif;
}

.main img {
  padding-bottom: 50px;
}

.main div {
  gap: 40px;
  display: flex;
  margin-bottom: 64px;
}
