.popular-list {
  position: relative;
}

.popular-list h1 {
  font-size: 22px;
  font-weight: 800;
  line-height: 144.5%;
  padding-bottom: 16px;
  text-transform: uppercase;
  font-family: 'Inter', sans-serif;
}

.popular-list::after {
  right: 0;
  top: 150px;
  width: 100px;
  content: '16+';
  display: block;
  font-size: 24px;
  text-indent: 12px;
  position: absolute;
  text-align: justify;
  background-color: var(--gray);
  font-family: 'Inter', sans-serif;
  box-shadow: 0 -15px 0 0 var(--gray), 0 15px 0 0 var(--gray);
}

.popular-list::before {
  top: 135px;
  content: '';
  right: 99px;
  width: 25px;
  height: 59.5px;
  display: block;
  position: absolute;
  text-align: justify;
  background-color: var(--red);
}

.popular-list ul {
  gap: 30px;
  left: -130px;
  position: absolute;
}

.popular-list li img{
  max-width: 150px;
  max-height: 210px;
}